@charset "UTF-8";

/* line 1, ../sass/layout/_cs-online-layout.scss */
.online-cs-block {
  font-size: 0;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: #fff;
}
/* line 7, ../sass/layout/_cs-online-layout.scss */
.online-cs-block .col-left-wd {
  display: inline-block;
  vertical-align: top;
  width: 70%;
  font-size: 14px;
  padding-right: 25px;
  box-sizing: border-box;
}
/* line 15, ../sass/layout/_cs-online-layout.scss */
.online-cs-block .col-right-wd {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  font-size: 14px;
  box-sizing: border-box;
}
/* line 22, ../sass/layout/_cs-online-layout.scss */
.online-cs-block .btm-block {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px dotted #979797;
}

/* line 2, ../sass/base/_base.scss */
.pos-center {
  text-align: center;
}

/* line 5, ../sass/base/_base.scss */
.pos-left {
  text-align: left;
}

/* line 8, ../sass/base/_base.scss */
.pos-right {
  text-align: right;
}

/* line 13, ../sass/base/_base.scss */
.online-cs-block {
  font-family: "微軟正黑體";
}

/* line 2, ../sass/component/_form.scss */
.online-cs-block .form-block {
  font-family: "微軟正黑體";
}
/* line 4, ../sass/component/_form.scss */
.online-cs-block .form-block input, .online-cs-block .form-block select {
  border: 1px solid #d6d6d6;
  height: 35px;
  display: inline-block;
  width: 100%;
  border-radius: 5px;
  font-family: "微軟正黑體";
  padding: 6px 16px;
  box-sizing: border-box;
}
/* line 14, ../sass/component/_form.scss */
.online-cs-block .form-block .form-tag {
  display: inline-block;
  width: 40%;
  margin-right: 1%;
  font-family: "微軟正黑體";
}
/* line 20, ../sass/component/_form.scss */
.online-cs-block .form-block .form-content-block {
  display: inline-block;
  width: 55%;
}
/* line 25, ../sass/component/_form.scss */
.online-cs-block .form-block .one-line-input + .one-line-input {
  margin-top: 8px;
}
.online-cs-block .txt-block.btn-icon{
  padding: 0;
  margin: 0;

  /*width: 100%;*/
  padding: 11px 10px;
  min-height: 0;
}
.online-cs-block .txt-block.btn-icon.hide{
  display: none;
}
.online-cs-block .txt-block.btn-icon+.btn-icon{
  margin-top: 20px;
}
.online-cs-block .txt-block.btn-icon .icon,
.online-cs-block .txt-block.btn-icon .tel-content{
  display: inline-block;
  vertical-align: middle;
}
.online-cs-block .txt-block.btn-icon .icon{
    display: inline-block;
    width: 26px;
    height: 26px;
    margin-right: 4px;
  }
.online-cs-block .txt-block.btn-icon .icon img{
  width: 100%;
  height: 100%;
  vertical-align: top;
}
.online-cs-block .txt-block.btn-icon .tel-content{
  color: #000;
  font-weight: normal;
  max-width: calc(100% - 26px - 9px);
}
/* line 1, ../sass/component/_nav-extra-right.scss */
.nav-extra-right {
  padding: 0;
  list-style-type: none;
  float: right;
  position: fixed;
  bottom: 20px;
  right: 0;
  font-family: "微軟正黑體";
  z-index: 999;
}
/* line 10, ../sass/component/_nav-extra-right.scss */
.nav-extra-right * {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -ms-box-sizing: content-box;
  -o-box-sizing: content-box;
  -moz-box-sizing: content-box;
}
/* line 17, ../sass/component/_nav-extra-right.scss */
.nav-extra-right li {
  width: 50px;
  text-align: center;
  background-color: #e2231a;
  padding: 20px 0;
  box-sizing: border-box;
}
/* line 23, ../sass/component/_nav-extra-right.scss */
.nav-extra-right li a {
  color: #fff;
  text-decoration: none;
  display: block;
  width: 20px;
  margin: 0 auto;
  line-height: 19px;
  font-size: 16px;
}
/* line 31, ../sass/component/_nav-extra-right.scss */
.nav-extra-right li a:hover, .nav-extra-right li a:active, .nav-extra-right li a:focus {
  color: #fff !important;
}
/* line 36, ../sass/component/_nav-extra-right.scss */
.nav-extra-right li + li {
  border-top: 1px solid #fff;
}
/* line 39, ../sass/component/_nav-extra-right.scss */
.nav-extra-right li + .cs-online-tag-block {
  border-top: 1px solid #fff;
}
/* line 43, ../sass/component/_nav-extra-right.scss */
.nav-extra-right .cs-click {
  cursor: pointer;
}
/* line 45, ../sass/component/_nav-extra-right.scss */
.nav-extra-right .cs-click.active {
  position: relative;
  right: -40px;
}
/* line 51, ../sass/component/_nav-extra-right.scss */
.nav-extra-right .cs-online-tag-block {
  position: relative;
}

@media (max-width: 1023px) {
  /* line 58, ../sass/component/_nav-extra-right.scss */
  .nav-extra-right {
    display: none;
  }
}
/* line 2, ../sass/_sm-cs-style.scss */
.online-cs-block.sm-layout-cs {
  position: relative;
  top: 0;
  right: 0;
  box-shadow: none;
  padding: 0 10px;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
}
/* line 12, ../sass/_sm-cs-style.scss */
.online-cs-block.sm-layout-cs .top-block, .online-cs-block.sm-layout-cs .btm-block {
  padding-right: 10px;
  padding-left: 10px;
}
/* line 18, ../sass/_sm-cs-style.scss */
.online-cs-block.sm-layout-cs h1 {
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 1.3px;
  color: #000;
  margin: 20px 0;
  text-align: center;
}
/* line 27, ../sass/_sm-cs-style.scss */
.online-cs-block.sm-layout-cs .col-left-wd {
  width: 100%;
  padding-right: 0;
}
/* line 31, ../sass/_sm-cs-style.scss */
.online-cs-block.sm-layout-cs .col-right-wd {
  width: 100%;
}
/* line 34, ../sass/_sm-cs-style.scss */
.online-cs-block.sm-layout-cs .btn-img-block {
  width: 100%;
  min-width: 100%;
  margin-top: 30px;
}
/* line 39, ../sass/_sm-cs-style.scss */
.online-cs-block.sm-layout-cs .img-main {
  background-position: center center;
  text-align: center;
}
/* line 42, ../sass/_sm-cs-style.scss */
.online-cs-block.sm-layout-cs .img-main p {
  margin: 20px 0;
  padding-right: 100px;
}
/* line 48, ../sass/_sm-cs-style.scss */
.online-cs-block.sm-layout-cs .tel + .tel {
  margin-top: 5px;
}
/* line 52, ../sass/_sm-cs-style.scss */
.online-cs-block.sm-layout-cs .tel-block {
  margin-bottom: 25px;
}

/* line 14, ../sass/online-service.scss */
.online-cs-block {
  display: inline-block;
  width: 490px;
  position: absolute;
  right: -530px;
  top: -359px;
}
/* line 20, ../sass/online-service.scss */
.online-cs-block a {
  text-decoration: none;
}
/* line 22, ../sass/online-service.scss */
.online-cs-block a:hover, .online-cs-block a:active {
  text-decoration: none;
}
/* line 26, ../sass/online-service.scss */
.online-cs-block h2 {
  color: #000;
  font-size: 18px;
  letter-spacing: 1.2px;
  line-height: 23px;
  padding: 0;
  margin: 0;
}
/* line 34, ../sass/online-service.scss */
.online-cs-block p {
  color: #383838;
  font-size: 12px;
  letter-spacing: 1px;
  margin: 0;
  margin-top: 25px;
}
/* line 41, ../sass/online-service.scss */
.online-cs-block .img-main {
  width: 100%;
  min-height: 80px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
}
/* line 47, ../sass/online-service.scss */
.online-cs-block .img-main p {
  display: inline-block;
  margin: 20px 40px;
  font-size: 15px;
  color: black;
  font-weight: 700;
  text-align: center;
  line-height: 23px;
  letter-spacing: 1px;
}
/* line 58, ../sass/online-service.scss */
.online-cs-block .btn-img-block,.skl-service-area .btn-img-block {
  background-color: #fff;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 9px 16px 0 #bebec0;
  border: solid 1px #e3e3e3;
  min-width: 121px;
  min-height: 121px;
  display: block;
}
/* line 67, ../sass/online-service.scss */
.online-cs-block .btn-img-block .icon-btn {
  padding: 15px 0 5px 0;
}
/* line 72, ../sass/online-service.scss */
.online-cs-block .pos-icon-left {
  float: left;
}
/* line 75, ../sass/online-service.scss */
.online-cs-block .tel-block {
  margin-top: 10px;
}
/* line 78, ../sass/online-service.scss */
.online-cs-block .tel {
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 23px;
}
/* line 83, ../sass/online-service.scss */
.online-cs-block .tel-title {
  color: #000;
  font-weight: 700;
}
/* line 87, ../sass/online-service.scss */
.online-cs-block .tel-content ,.skl-service-area .tel-content{
  color: #e2231a;
}
/* line 91, ../sass/online-service.scss */
.online-cs-block .form-block {
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 23px;
}
/* line 95, ../sass/online-service.scss */
.online-cs-block .form-block .form-tag {
  font-weight: 700;
}

/*# sourceMappingURL=online-service.css.map */

/*2019/02/12 客服版型調整 */
.service-button-block {
  width: 100%;
  text-align: center;
}
.service-button-block .service-button {
  margin-top: 10px;
  background: #e2231a;
  color: #fff;
  width: 226px;
  text-align: center;
  margin-left: 10px;
  padding: 8px;
  display: inline-block;
  padding: 5px 15px;
  font-size: 14px;
  border-radius: 4px;
}
.btm-block .txt-block{
    min-height: 36px;
    margin-top: 22px;
    padding-top: 16px;
}
.skl-service-area .txt-block{
    min-height: 36px;
    margin-top: 22px;
    padding-top: 9px;
}

.skl-service-area .service-button-block{
  display: inline-block;
  max-width: 200px;
  padding-left: 10px;
}

