.ga-qa-item-container-newqa1 li.ga-qa-item-newqa1 {
    list-style: none;
    border-bottom: 1px solid #bfbfbf;
    margin: 10px 0;
    padding-bottom: 10px;
}
.ga-qa-item-container-newqa1 li.ga-qa-item-newqa1 .item-top-newqa1{
    position: relative;
}
.ga-qa-item-container-newqa1 li.ga-qa-item-newqa1 .item-top-newqa1 img{
    position: absolute;
    left: 0;
    width: 45px;
    height: 45px;
}

.ga-qa-item-container-newqa1 li.ga-qa-item-newqa1 .item-top-newqa1 a.ga-qa-title-newqa1 {
    color: #333333;
    text-decoration: none;
    display: block;
    padding-left: 55px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px; 
    /*border: 1px solid #f00; */
    font-size: 17px;
}

.ga-qa-item-container-newqa1 li.ga-qa-item-newqa1 .item-top-newqa1 a.ga-qa-title-newqa1.active {
    padding-bottom: 10px;
}

.ga-qa-item-container-newqa1 > li.ga-qa-item-newqa1 > .item-top-newqa1 a:after {
    content: '';
    background: url(../img/todown.png);
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    /*margin-right: 10px;*/
    position: absolute;
    top: 10px;
    right: 6px;
}

.ga-qa-item-container-newqa1 > li.ga-qa-item-newqa1 > .item-top-newqa1.active a:after {
    background: url(../img/toup.png);
}

.ga-qa-item-container-newqa1 li.ga-qa-item-newqa1 .item-top-newqa1 ~ .ga-qa-content-newqa1 {
    display: none;
    padding: 0 35px;
}

.ga-qa-item-container-newqa1 li.ga-qa-item-newqa1 .item-top-newqa1.active ~ .ga-qa-content-newqa1 {
    display: block;
}