<!DOCTYPE HTML>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=640, maximum-scale=1.0, user-scalable=no" />
  <meta name="format-detection" content="telephone=no">
  <title>新光人壽</title>

  <script type="text/javascript">
  window.onload = function() {
    window.scrollTo(0, 1);
  }

  </script>


  <script src="../../js/jquery.min.js"></script>
  <script src="../../js/bootstrap.bundle.min.js"></script>
  <script src="../../js/bootstrap.min.js"></script>
  <script src="../../js/estimation.js"></script>
  <link rel="stylesheet" href="../../css/bootstrap.min.css" type="text/css" />
  <link rel="stylesheet" href="../../css/reset.css" type="text/css" />
  <!-- Owl Stylesheets -->
  <link rel="stylesheet" href="../../css/docs.theme.min.css">
  <link rel="stylesheet" href="../../css/all.css">
  <link rel="stylesheet" href="../../css/customes.css" type="text/css" />
  <link rel="stylesheet" type="../../text/css" href="css/fontawesome.min.css">
  <script src="../../js/2019NewInsureJS.js"></script>
</head>

<body>
  <div class="container">
    <div class="bg-radius">
      <div class="top">
        <div class="top-title">
          <div class="insure-notice-box">
            <div class="insure-check"><img src="../../img/mail.png" alt=""></div>
            <div class="insure-check-title">
              保費試算
            </div>
          </div>
        </div>
      </div>
      <div class="border-bottom-line"></div>
      <div class="insure-text text-red-i">
        若您為新光人壽之保戶，請先登入以利享有更多保額優惠喔！
      </div>

      <form class="form-bottom">

        <div class="form-group row">
          <label for="" class="col-sm-12 col-form-label insure-label">您的性別是？</label>
          <div class="col-sm-12 insure-select-align">
            <select id="inputSex" name="inputSex" class="form-control data-input insure-select insure-input-block-edit">
              <option value="2" selected="selected">女</option>
              <option value="1">男</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="" class="col-sm-12 col-form-label insure-label">您的生日是？</label>
          <div class="col-sm-4 insure-select-align">
            <select class="form-control data-input insure-select insure-input-block-edit" id="inputyear" name="inputyear">
              <option value="1999">1999</option>
              <option value="1998">1998</option>
              <option value="1997">1997</option>
              <option value="1996">1996</option>
              <option value="1995">1995</option>
              <option value="1994">1994</option>
              <option value="1993">1993</option>
              <option value="1992">1992</option>
              <option value="1991">1991</option>
              <option value="1990">1990</option>
              <option value="1989">1989</option>
              <option value="1988">1988</option>
              <option value="1987">1987</option>
              <option value="1986">1986</option>
              <option value="1985">1985</option>
              <option value="1984">1984</option>
              <option value="1983">1983</option>
              <option value="1982">1982</option>
              <option value="1981">1981</option>
              <option value="1980">1980</option>
              <option value="1979">1979</option>
              <option value="1978">1978</option>
              <option value="1977">1977</option>
              <option value="1976">1976</option>
              <option value="1975">1975</option>
              <option value="1974">1974</option>
              <option value="1973">1973</option>
              <option value="1972">1972</option>
              <option value="1971">1971</option>
              <option value="1970">1970</option>
              <option value="1969">1969</option>
              <option value="1968">1968</option>
              <option value="1967">1967</option>
              <option value="1966">1966</option>
              <option value="1965">1965</option>
              <option value="1964">1964</option>
            </select>年
          </div>
          <div class="col-sm-4 insure-select-align">
            <select id="inputMonth" name="inputMonth" class="form-control data-input insure-select insure-input-block-edit">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
            </select>月
          </div>
          <div class="col-sm-4 insure-select-align">
            <select id="inputDay" name="inputDay" class="form-control data-input insure-select insure-input-block-edit" required>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
            </select>日
          </div>
        </div>
        <div class="form-group row">
          <label for="" class="col-sm-12 col-form-label insure-label">
            您的工作屬於哪個類別？
          </label>
          <div class="col-sm-12 insure-select-align">
            <select id="inputIndustry" name="inputIndustry" class="form-control data-input insure-select insure-input-block-edit">
              <option selected="selected" value="2">外勤業務相關</option>
              <option value="1">內勤行政文書相關</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label for="" class="col-sm-12 col-form-label insure-label">您希望擁有多少傷害保障？</label>
          <div class="col-sm-12 insure-select-align">
            <select class="form-control data-input insure-select insure-input-block-edit" id="insurePay" name="insurePay">
              <option value="">請選擇</option>
            </select>
          </div>
        </div>

        <div class="bg-money gray">
          <div class="col-sm-12">
            <div class="font-label">您所需支付的保費為</div>
            <div class="font-money text-red-i" id="PayNum"> NT$ 0</div>

          </div>
        </div>
        <div class="border-bottom-line col-sm-12"></div>
        <div class="col-sm-12">
          <div class="insure-tips-text text-red-i">
            <img src="../../img/megaphone.png" class="tel" alt="" />買就送RIMOWA及GOPRO出租8折優惠
          </div>
        </div>
      </form>
    </div>

    <div class="footer">
      <div class="footer-content">
        <nav class="navbar navbar-dark row">
          <div class="col-sm-6 footer-title footer-left" onclick="OnGoBack()">回前一頁</div>
          <div class="col-sm-6 footer-title footer-right" onclick="OnGoInsure()">立即投保</div>
        </nav>
      </div>
    </div>
  </div>
</body>

</html>

<script>
var serverHost = 'https://onlinetest.skl.com.tw'

function OnGoBack() {
  window.location.href = 'https://onlinetest.skl.com.tw/insurancewebapi/static/Estimate/accident/SimpleEstimate.html?leave=true'
}

function OnGoInsure() {
  // 判斷當前url中是否有token
  let token = getQueryStringParameterByKey('token')
  if (token === null) {
    OnGoBack()
    return
  }
  window.location.href = 'https://onlinetest.skl.com.tw/InsuranceWebApi/#/accident-1?token=' + token
}

function faceamtList() {
  var Pdata = {
    "PLAN_Code_1": "20511",
    "Verified": "Y"
  };
  $.ajax({
    url: 'https://onlinetest.skl.com.tw/InsuranceWebApi/Query/Premiums',
    type: 'POST',
    data: Pdata,
    success: function(rep) {
      if (rep.Status == "OK" && rep.Data.IsSuccess && rep.Data != undefined && rep.Data.Result != undefined && rep.Data.Result.length > 0) {
        var premList = rep.Data.Result[0].Prem_List.split(',');
        var option = "";
        for (var i = 0; i < premList.length; i++) {
          option += "<option value='" + premList[i] + "'>" + premList[i] + "萬</option>";
        }
        $("#insurePay").empty();
        $("#insurePay").html(option);
        Compute();
      }
      else if (rep.Status == "OK" && !rep.Data.IsSuccess) {
        alert(rep.Data.Message);
        return;
      }
      else {
        alert("親愛的客戶，感謝您對網路投保的支持，由於目前系統更新，請您稍候再試。造成不便我們深感抱歉，再次感謝您的惠顧。");
      }
    }
  });
}
// 試算
function Compute() {
  var sex = $("#inputSex").val();
  var BYear = $('#inputyear').val();
  var BMonth = $('#inputMonth').val();
  var BDay = $('#inputDay').val();
  var faceamt = $("#insurePay").val();
  var occupation = $("#inputIndustry").val();

  if (sex == '' || BYear == '' || BMonth == '' || BDay == '' || faceamt == '' || occupation == '')
    return;

  var Edata = {
    "InsurerSourceID": "InsuranceWeb",
    "CoreData": {
      "client_rate_sex": sex,
      "client_birth": BYear + "-" + BMonth + "-" + BDay,
      "client_occupation_class": occupation,
      "face_amt": faceamt
    }
  };

  $.ajax({
    url: 'https://onlinetest.skl.com.tw/InsuranceWebApi/Accident/SimpleEstimate',
    type: 'POST',
    data: Edata,
    success: function(rep) {
      if (rep.Status == "OK" && rep.Data.IsSuccess && rep.Data != undefined && rep.Data.Result != undefined) {
        $("#PayNum").html("NT$" + rep.Data.Result.mode_prem.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
      } else if (rep.Status == "OK" && !rep.Data.IsSuccess) {
        alert(rep.Data.Message);
        return;
      } else {
        alert("親愛的客戶，感謝您對網路投保的支持，由於目前系統更新，請您稍候再試。造成不便我們深感抱歉，再次感謝您的惠顧。");
      }
    }
  });
}

$(document).ready(function() {
  faceamtList();
  Compute();

  //保單年度未
  $('#insurePay, #inputIndustry, #inputyear, #inputMonth, #inputDay, #inputSex').on('change', function() {
    Compute();
  });
});

</script>
