@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: Aaargh, MElleHK, Candara, Avenir, "微軟正黑體";
	/*src: url(../css/Aaargh.otf);*/
}
@font-face {
	font-family: Aaargh, MElleHK, Candara, Avenir, "微軟正黑體";
	/*src: url(../css/Aaargh.otf) format("opentype");*/
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead,input {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	list-style: none;
	font-family: "Microsoft JhengHei", 微軟正黑體,  "Microsoft YaHei", 微軟雅黑體, Verdana, Sans-serif;
}
img {
	border: none;
	vertical-align: top;
}
.pointer {
	cursor: pointer;
}
.hide {
	display: none;
}
a {
    color: #c2191f;
}
a:hover, a:focus{
	color: #b00303;
}

.vam{
	vertical-align: middle!important;
}

/*---------------- content -------------------*/
body {
	width: 100%;
    margin: 0 auto;
    background: #f6f4f4;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: "Microsoft JhengHei", 微軟正黑體,  "Microsoft YaHei", 微軟雅黑體, Verdana, Sans-serif;
}
.container{
    width: 640px;
    max-width:640px;
    height: auto;
    margin:0 auto;
    position: relative;
    overflow: hidden;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 120px;
}
/*.container-margin{
	margin-top: 105px;
	margin-bottom: 85px;
}
@media (min-width: 640px) and (max-width: 979px) {
	.container-margin{
		padding-bottom: 90px;
	}
}*/

.col-sm-4{
	max-width: 32.6666666%;
}

.col-sm-5{
	max-width: 41.3333333%;
}
.col-sm-6{
	max-width: 49%;
}
.col-sm-7{
	max-width: 58%;
}

.col-sm-8{
	max-width: 65.33333333%;
}
.col-sm-9 {
	max-width: 73.5%;
}

/*.col-sm-9 {
	max-width: 65%;
}*/


/*---------------- footer -------------------*/
.navbar{
	padding: 0px;
}
.footer {
	width: 100%;
    height: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
}
.footer-content{
	width: 640px;
    margin: 0 auto;
}

.footer-content-page4-2{
	width: 640px;
    margin: 0 auto 2% auto;
}

.footer-title{
	font-size: 30px;
	font-weight: bold;
	padding: 26px 0;
	cursor: pointer;
	text-align: center;
}
.footer-left{
	color: #e41f1f;
	background: #fff;
}

.footer-right{
	color: #fff;
	background: #e41f1f;
}

/*---------------- bg -------------------*/
.bg-radius{
	margin: 15px 15px 25px;
	background: #fff;
	border-radius: 20px;
	border: 1px solid #d2d1d1;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.bg-radius-page-4-3{
	margin: 15px 15px 114px;
}

/*---------------- arae -------------------*/
.product-name{
	text-align: center;
	color: #E41F1F;
	font-size: 28px;
	font-weight: 600;
	background-color: #ffffff;
	padding: 10px 0;

}
.progress-bar{
	background-color: #f6f4f4 !important;
	margin: 25px 0;
}


.border-bottom-line{
	border-bottom: 1px solid #d2d1d1;
}

.top{
	margin: 25px 20px;
}

.top-title{
	font-size: 32px;
	font-weight: 600;
	line-height: 45px;
	color: #565654;
	height: auto;
}

.top-title img.small{
	width: 6%;	
}

.top-ml{
	margin-left: 45px;
}

.top img{
	/*vertical-align: middle;*/
	text-align: center;
	margin-top: 5px;
}

.top img.arrow{
	margin: 16px 10px 0px 10px !important;

}

.top-img{
	text-align: left;
    vertical-align: middle;
    float: left;
    display: inline-block;
    padding-top: 25px;
}

.top-img img{
	/*vertical-align: middle;*/
	text-align: center;
	margin-top: 5px;
	display: inline-block;
  margin: 0;
}

.top-tips{
	margin: 30px 25px;
	font-size: 24px;
	font-weight: 600;
	color: #e23d51;
	text-align: justify;
	word-wrap: break-word;
	word-break: break-all;
}

.top-text{
	margin: 30px 25px;
	font-size: 26px;
	font-weight: 600;
	color: #656565;
	text-align: justify;
	word-wrap: break-word;
	word-break: break-all;
}

.im-text{
	color: #e23d51;
}

.top-notice{
	margin: 30px 25px;
	font-size: 24px;
	font-weight: 600;
	color: #656565;
	text-align: justify;
	word-wrap: break-word;
	word-break: break-all;
}
/*---------------- from -------------------*/
.form-group{
	margin: 25px 20px 25px;
	border-radius: 5px;
	border: 1px solid #d2d1d1;
	width: 93%;
}



.posr {
	position: relative;
}

.form-group-checked{
	border: 1px solid #2E3D46;
}

.form-group-last{
	margin: 25px 20px 25px;
}

.form-group label{
	font-size: 28px;
	font-weight: 600;
	color: #656565;
	text-align: justify;
	word-wrap: break-word;
	word-break: break-all;
}

.form-group label.red{
	color: #E23D51;
}

.form-group label.brown{
	color: #A57248;
}

.form-group input.second{
	margin-top: -30px;
}

.data-input{
	font-size: 28px !important;
	font-weight: 600;
	line-height: 45px;
	color: #fa6400;
	border: none !important;
	border-radius: 0 !important;
	height: calc(2.25rem + 25px) !important;
	padding: .375rem .0rem !important;
}

.data-input:focus {
	outline: none !important;
    box-shadow: 0 0 0 0 #fff;
}
select{
	background-image: url(../images/down-arrow.png);
	-webkit-appearance: none;
	outline: none !important;
    box-shadow: 0 0 0 0 #fff;
}

input{
	box-shadow: none !important;
	-webkit-appearance: none;
	outline: none !important;
    box-shadow: 0 0 0 0 #fff;
}

.bg-money{
    /*background: #f6f4f4;
    color: #e23d51;*/
    color: #A57248;
    padding: 25px 15px;
    /*border: 1px solid #d2d1d1;*/
}
.bg-money.gray{
	background-color: #f6f4f4
}

.bg-money-twoline{
	padding-bottom: 67px
}

.bg-money .left{
    color: #656565;

}
.bg-money .content{
    color: #0F71B0;
}
.dib{
	display: inline-block;
}

.vat{
	vertical-align: top;
}

.font-label{
	font-size: 28px;
	font-weight: 600;
	text-align: justify;
	word-wrap: break-word;
	word-break: break-all;
}

.font-money{
	font-size: 48px;
    font-weight: 600;
    /*color: #e23d51;
    padding-bottom: 20px;
    background: #f6f4f4;*/
    /*color: #e23d51;*/
    color: #3F3F3F;
    text-align: left;
    line-height: 50px;
    margin-top: 15px;
    margin-bottom: 25px;
}

.font-money.product{
	color: #BABABA;
}



.money-icon{
	position: absolute;
	right: 0px;
	bottom: 0px;
}

.font-money img{
	margin-top: 0px;
}

.form-bottom{
	margin-bottom: 35px;
}

.text-description{
	margin: 30px 25px;
	font-size: 24px;
	font-weight: 600;
	color: #0f71b0;
	text-align: justify;
	word-wrap: break-word;
	word-break: break-all;
}

.ol-number{
	padding-left: 40px;
}

.ol-number li{
	list-style-type:decimal;
}

/*---------------- table -------------------*/

.table-fixed{
	table-layout: fixed!important;
}

.table-rate{
	margin: 5px 20px 25px;
	border-radius: 5px;
	border: 1px solid #d2d1d1;
	width: 93%;
}

.top-table-font{
	background: #2e3d46;
	color: #fff;
	font-size: 24px;
	font-weight: 500;
	padding: 20px 0 !important;
}

.table-number-font{
	font-size: 24px;
	font-weight: 500;
	color: #656565;
	vertical-align: middle;
	padding: 20px 0 !important;
}

.table-more{
	font-size: 24px;
	font-weight: 600;
	color: #0f71b0;
	padding: 20px !important;
	cursor: pointer;
}

.table-more img{
	margin-top: -3px;
}

.table-small {
	font-size: 12px;
}

/*---------------- Insure -------------------*/

.small-title{
	color: #E23D51;
	font-size: 22px;
	padding-left: 10px
}

.red-right-title{
	color: #E23D51;
	position: absolute;
	right: 5%
}

.step{
	width: 100%;
	display: inline-block;
	padding: 30px 0 20px;
}

.ul-step li{
	width: 25%;
	float: left;
	list-style: none;
	color: #909090;
	font-size: 30px;
	font-weight: 600;
	line-height: 110%;
	text-align: center;
}

.ul-step-active{
	color: #e41f1f !important;
}

.ul-number{
	font-size: 20px;
	font-style: italic;
}

/*產品Css*/


.ul-step-active-product{
	padding-bottom: 10px;
	margin: 0 20px;
	border-bottom: 5px solid #e41f1f;

}

.insure-text{
	margin: 30px 25px;
    font-size: 24px;
    font-weight: 600;
    color: #3f3f3f;
    text-align: justify;
    word-wrap: break-word;
    word-break: break-all;
}

.insure-text.career{
	margin-top: 0;
}

.career img{
	margin-bottom: 15px !important;
}

.insure-text-closetable{
	margin: 0px 25px;
    font-weight: 600;
    color: #3f3f3f;
    text-align: justify;
    word-wrap: break-word;
    word-break: break-all;
}

.insure-text.blue,.insure-tips-text.blue{
	color: #0F71B0;
}

.insure-input{
	font-size: 28px !important;
	font-weight: 600;
	line-height: 45px;
	color: #0F71B0 !important;
	border: none !important;
	border-radius: 0 !important;
	height: calc(2.25rem + 25px) !important;
	padding: .375rem .0rem !important;
	text-align: left;
	    margin-bottom: 15px;
}
.insure-input,.black{
	color: #565654;
}


.insure-input-edit{
	color: #A57248 !important;
}

.insure-label{
	padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 25px;
}

.insure-label.text-with-select{
	padding-right: 15px;
	color: #A57248;
	background-color: #F5F5F5;
}

.insure-label.sorry{
	background-color: #ffffff;
	text-align: center;
}

.insure-label-blue{
	padding-top: 8px;
	color: #0F71B0!important;
}

.insure-label-day{
	padding-top: 12px;
	text-align: right !important;
}

.insure-col{
	padding-left: 0px;
	padding-right: 15px;
}

.col-width{
	padding: 5px 5px 0px;
}

.button-blue{
	background: #0f71b0;
	color: #fff;
	border-radius: 45px;
	font-size: 30px;
	font-weight: 500;
	text-align: center;
	padding: 20px;
	font-family: "Microsoft JhengHei", 微軟正黑體,  "Microsoft YaHei", 微軟雅黑體, Verdana, Sans-serif;
	margin: 25px 0 0;
}


.button-blue:hover, .button-blue:focus {
    background: #4a4a4a;
}

.insure-select{
	font-size: 28px !important;
	font-weight: 600;
	line-height: 45px;
	color: #A57248 !important;
	border: none !important;
	border-radius: 0 !important;
	height: calc(2.25rem + 25px) !important;
	padding: .375rem .0rem !important;
	padding-top: 0px !important;
	outline: none !important;
}

.insure-select-withline{
	margin-top: 15px;
}

.insure-select-withradio{
	padding-left: 79px !important;
	padding-top: 10px !important;
}
/*點擊單選出現的下拉式選單*/

/*.insure-select-align select {
   text-align-last: right;
   text-align: right;
   -webkit-text-align-last: right;
   -ms-text-align-last: right;
   -moz-text-align-last: right;
   text-align: -moz-right;
   text-align: -webkit-right;
   padding-right: 30px !important;
   margin-top: 11px;
   margin-bottom: 5px;
   direction: rtl!important;
   float: right;
   border: none;
   outline: none !important;
}*/

.insure-select:focus {
    outline: none !important;
    box-shadow: 0 0 0 0 #fff;
}

.insure-input-block{
	font-size: 28px !important;
	font-weight: 600;
	line-height: 45px;
	color: #0F71B0 !important;
	border: none !important;
	border-radius: 0 !important;
	height: auto !important;
	padding: .375rem .0rem !important;
	text-align: left;
	margin-bottom: 15px;
	padding-bottom: 10px !important;
}

.insure-input-block.brown{
	color: #A57248 !important;
}

.insure-tips{
	font-size: 22px;
	font-weight: 600;
	color: #e23d51;
	text-align: justify;
	margin: 0px 8px;
	word-wrap: break-word;
	word-break: break-all;
}

.insure-tips-text{
	font-size: 22px;
	font-weight: 600;
	color: #0f71b0;
	text-align: justify;
    /*margin: 0px 8px -10px 8px;*/
	/*margin: 0px 8px;*/
	margin: 18px 8px -10px 8px;
	word-wrap: break-word;
	word-break: break-all;
}

.insure-tips-text.withradio{
	margin-bottom: 18px;
}

.insure-tips-text.first-blue{
	margin: 0 0 0 8px;
}


.ul-indentation{
	padding-left: 27px;
}

/*產品Css*/



.insure-text-explan{
	color: #656565;
}

.insure-text-explancontent   
{
	font-weight: 400;
}




.insure-text-product{
	margin: 30px 50px;
	color: #656565;
}

.insure-text-product.margin-top{
	margin-top: 0
}




iframe {
	margin: 35px 0; 
}



iframe:nth-child(3){
	margin-top: 0;
}

.insure-text-product .substandard{	
	font-weight: 300;
}


.insure-text-product li{
	list-style-type: disc;
}

.decimal{
	list-style-type: decimal !important;
	margin: 18px 14px -10px 27px;
}

.decimal.first{
	margin: 0px 14px -10px 27px;
}



/*產品Css*/



.insure-tips-text img{
	margin-top: 5px;
	margin-right: 5px;
}

.insure-tips-text .arrowblue{
	float: right;
    margin-top: 10px;
}

.insure-tips-text .career{
	float: right;
	margin-top: 10px;
	margin-right: -6px;
}

    

.insure-tips-text img.inline{
	margin-top: 8px;
	margin-right: 5px;
}

.insure-tips-text img.tel{
	margin-top: -4px;
}

.insure-tips-text img.megaphone{
	margin-top: 0
}

input[type="checkbox"] {
	display: none;
}
.checkbox,.checkbox-oneline{
	-webkit-appearance: none;
	display:inline-block;
	background: url(../images/checked-un.png) no-repeat;
	width: 44px;
	height: 43px;
	cursor: pointer;
	position: absolute;
    right: 20px;
    top: 33%;
}

.checkbox-oneline{
	top: 7px;
}

.checkbox.checked,.checkbox-oneline.checked {
	background: url(../images/checked.png) no-repeat;
}


.bg-time{
    color: #A57248;
    padding: 25px 15px;
	border-top: 1px solid #fff;
}

.insure-notice{
    text-align: justify;
    margin: 30px 8px 0;
    word-wrap: break-word;
    word-break: break-all;
}

.insure-notice-title{
	font-size: 24px;
	font-weight: 600;
	line-height: 150%;
	color: #656565;
	margin-left: 5px;
}

.insure-notice-text{
	font-size: 24px;
	font-weight: 500;
	line-height: 150%;
	color: #656565;
	text-align: justify;
	margin: 8px 8px 0px;
	word-wrap: break-word;
	word-break: break-all;
}

.insure-notice-text-ol{
	padding-left: 35px;
}

.insure-notice-text li{
	list-style-type: decimal;
	margin-top: 5px;
	margin-bottom: 8px;
}

.insure-notice-text-ul,.insure-notice-text-ul.point{
	font-size: 24px;
	font-weight: 500;
	line-height: 150%;
	color: #656565;
	text-align: justify;
	margin: 8px 8px 0px;
	word-wrap: break-word;
	word-break: break-all;
}

.insure-notice-text-ul.point{
	margin: 8px 33px 0px 33px;
}


/*.insure-notice-text-ul-p{
	padding-left: 35px;
}*/

.insure-notice-text-ul li{
	list-style-type: disc;
	margin-top: 5px;
	margin-bottom: 8px;
	list-style-type:none;
}

.insure-notice-text-ul li.point{
	list-style-type: disc;
	margin-top: 5px;
	margin-bottom: 8px;
}

.table img{
	margin-top: 4px;
}

.table-top{
	margin-top: 25px;
}

.table-bank{
	width: 33%;
	font-size: 22px;
    font-weight: 600;
    line-height: 150%;
    color: #656565;
    vertical-align: middle;
    padding: 8px 5px !important;
}

.table-bank-active{
	color: #0f71b0;
	text-decoration: underline;
}

.table-insure{
	font-size: 22px;
    font-weight: 400;
    line-height: 150%;
    color: #656565;
    vertical-align: middle;
    padding: 8px 5px !important;
}

.table-insure.title{
	background-color: #A57248;
	color: #ffffff;
	font-size: 16px;
}

.table-insure.product{
	font-size: 16px;

}

.insure-margin-0{
	margin-top: 0px;
	margin-bottom: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	line-height: 100%;
}

.insure-form{
	margin: 30px 25px 0px;
    font-size: 30px;
    font-weight: 600;
    color: #3f3f3f;
    text-align: justify;
}

.insure-form-im{
	color: #e41f1f;
}

.insure-time-box{
	margin-bottom: 15px;
	width: 96%;
}

.insure-times{
	font-size: 30px;
	line-height: 150%;
    font-weight: 600;
    color: #656565;
    border: 1.2px solid #656565;
    border-radius: 5px;
    padding: 8px 10px;
    cursor: pointer;
    margin-bottom 20px;
}

.insure-times-active{
	color: #0f71b0;
    border: 1.2px solid #0f71b0;
}

.insure-select-no{
	color: #4a4a4a !important;
}

.insure-tips-mt-25{
	margin: 30px 15px;
}

.insure-btn-r{
	margin: 0 auto 15px;
	width: 98%;
}

.btn-share{

}

.btn-r-left{
	background-color: #e41f1f;
	color: #fff;
	font-size: 30px;
	line-height: 150%;
    font-weight: bold;
    padding: 20px 0;
    cursor: pointer;
    text-align: center;
    border-radius: 45px;
    width: 100%;
    font-family: "Microsoft JhengHei", 微軟正黑體,  "Microsoft YaHei", 微軟雅黑體, Verdana, Sans-serif;
    border: 1px solid #e41f1f;
}
.btn-r-left:hover,.btn-r-left:focus,.btn-r-left:active{
	background-color: #fff !important;
	color: #e41f1f;
}

.btn-r-right{
	background-color: #fff;
	color: #e41f1f;
	font-size: 30px;
	line-height: 150%;
    font-weight: bold;
    padding: 20px 0;
    cursor: pointer;
    text-align: center;
    border-radius: 45px;
    width: 100%;
    font-family: "Microsoft JhengHei", 微軟正黑體,  "Microsoft YaHei", 微軟雅黑體, Verdana, Sans-serif;
    border: 1px solid #e41f1f;
}

.btn-r-right:hover,.btn-r-right:focus,.btn-r-right:active{
	background-color: #e41f1f !important;
	color: #fff;
}

.footer-gary {
    color: #fff;
    background: #909090;
}

.insure-text-notice{
	margin: 30px 25px 5px;
    font-size: 24px;
    font-weight: 600;
    color: #3f3f3f;
    text-align: justify;
    padding-left: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.insure-text-notice li{
	list-style: decimal;
}

.insure-more-img img{
	margin-top: 4px;
    margin-left: 5px;
}
.insure-notice-box{
	display: table;
	height: auto;
}
.insure-check, .insure-radio{
	width: 35px;
	display: table-cell;
    vertical-align: middle;
}
.insure-check img{
    vertical-align: middle;
    margin-top: -5px;
}
.insure-check-title{
	max-width: 575px;
	height: auto;
	float: left;
	display: table-cell;
    vertical-align: top;
    margin-left: 23px;
}

.insure-check-content{
	font-size: 28px;
	line-height: 45px;
	color: #3F3F3F;
	font-weight: 400;
	max-width: 575px;
	height: auto;
	float: left;
	display: table-cell;
    vertical-align: top;
    margin-left: 20px;
	margin-top: -8px;
}

.insure-radio img{
    vertical-align: middle;
   /* margin: 25px;*/
}
.insure-radio-title{
	max-width: 575px;
	height: auto;
	float: left;
	display: table-cell;
    vertical-align: top;
    margin: 0 25px;
}


/*---------------- Modal-------------------*/
.modal-content{
	border-radius: 0px;
}

.modal-body {
    text-align: center;
    padding: 25px 30px 30px;
}

.modal-title{
	font-size: 32px;
	color: #2e3d46;
	line-height: 150%;
	font-weight: 600 !important;
}

.modal-title-line{
	width: 120px;
	border: 2px solid #e41f1f;
	margin: 15px auto 20px;
}

.modal-text{
	font-size: 24px;
    line-height: 45px;
    color: #565654;
    font-weight: 600 !important;
    letter-spacing: 1px;
}

.modal-link{
	text-decoration: underline;
}

.modal-footer{
	padding: 0px;
}

.btn-modal-left {
    width: 50%;
    height: auto;
    font-family: "Microsoft JhengHei", 微軟正黑體, "Microsoft YaHei", 微軟雅黑體, Verdana, Sans-serif;
    font-size: 30px;
    font-weight: 600;
    background: #fb857c;
    border-radius: 0px;
    padding: 13px 10px;
    margin-bottom: 0px;
    float: left;
}

.btn-modal-right {
    width: 50%;
    height: auto;
    font-family: "Microsoft JhengHei", 微軟正黑體, "Microsoft YaHei", 微軟雅黑體, Verdana, Sans-serif;
    font-size: 30px;
    font-weight: 600;
    background: #fd6b5f;
    border-radius: 0px;
    padding: 13px 10px;
    margin-bottom: 0px;
    float: left;
}

.btn-modal-block {
    width: 100%;
    height: auto;
    font-family: "Microsoft JhengHei", 微軟正黑體, "Microsoft YaHei", 微軟雅黑體, Verdana, Sans-serif;
    font-size: 30px;
    font-weight: 600;
    background: #e41f1f;
    border-radius: 0px;
    padding: 13px 10px;
    margin-bottom: 0px;
    float: left;
}

.btn-modal-block:hover{
	background: #565654;
}

.otp-margin{
	margin: 0px 0px 35px;
}

.text-red-i{
	color: #e23d51;
}

.text-sup{
	font-size: 12px;
}

.otp-input-group{
    width: 97%;
    margin: 35px 20px 25px;
}

.otp-col-padding{
	max-width: 16%;
	padding-left: 5px !important;
	padding-right: 5px !important;
}

.otp-form-input{
	border-radius: 5px !important;
    border: none !important;
    text-align: center;
    background-color: #f6f4f4 !important;
    font-size: 56px !important;
    font-weight: 600;
    line-height: 150%;
    padding: 0px 10px !important;
    height: auto !important;
    color: #545456!important;
}

.otp-time{
	margin: 0 auto;
	border-radius: 40px;
	border: 1px solid #d2d1d1;
	width: auto;
	color: #4a4a4a !important;
	font-size: 50px !important;
    font-weight: 600;
    line-height: 150%;
    padding: 2px 42px;
}

.otp-time img{
	margin-top: 13px;
	margin-right: 10px;
}

.insure-tips-mt-20{
	margin: 20px 15px 25px;
	font-size: 24px;
}

.insure-notice-mb{
	margin-bottom: 35px;
}

.list-style-n li{
	list-style: decimal;
}

.insure-creditcard{
	margin: 20px 7px;
}

.insure-done-text{
	font-size: 24px;
	font-weight: normal;
}

.insure-order-img{
	float: left;
	margin-right: 12px;
	margin-top: 10px;
}

.insure-qrcode-img{
	margin: 30px auto 0px;
	border: 1px solid #d2d1d1;
	border-radius: 5px;
}

.insure-qrcode-img img{
	margin: 0 auto;
	padding: 14px;
}

.col-sm-9-done-w-72{
	max-width: 72.5%;
	padding-right: 10px !important;
}

.col-sm-3-done-w-28{
	max-width: 27.5%;
    padding-left: 0px;
    padding-right: 10px;

}
.insure-share-img{
	margin-top: 5px;
	margin-right: 2px;
}

.insure-share-text{
	font-size: 22px;
}

.tac{
	text-align: center;
}

.tac img{
	margin: 0 15px;
}