<!DOCTYPE HTML>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=640, maximum-scale=1.0, user-scalable=no" />
  <meta name="format-detection" content="telephone=no">
  <title>新光人壽</title>

  <script type="text/javascript">
  window.onload = function() {
    window.scrollTo(0, 1);
  }

  </script>
  <link rel="stylesheet" href="../../css/bootstrap.min.css" type="text/css" />
  <link rel="stylesheet" href="../../css/reset.css" type="text/css" />

  <!-- Owl Stylesheets -->
  <link rel="stylesheet" href="../../css/docs.theme.min.css">
  <link rel="stylesheet" href="../../css/all.css">
  <link rel="stylesheet" href="../../css/customes.css" type="text/css" />
  <link rel="stylesheet" href="../../css/fontawesome.min.css">
  <script src="../../js/jquery.min.js"></script>
  <style>
  input[type="tel"].data-input {
    color: #fa6400;
  }

  input[type=radio] {
    display: none;
  }

  .radio-group {
    height: 45px;
  }

  .radio-group .insure-check-content {
    margin: auto;
    margin-left: 20px;
  }

  .NoCheck {
    background: url(../../img/oval.png);
    background-size: 35px auto;
    background-position: center;
    background-repeat: no-repeat
  }

  .Check {
    background: url(../../img/oval-ed.png);
    background-size: 35px auto;
    background-position: center;
    background-repeat: no-repeat
  }

  select {
    background-image: url(../../img/down-arrow.png);
    -webkit-appearance: none;
    outline: none !important;
    box-shadow: 0 0 0 0 #fff;
  }

  </style>
</head>

<body>
  <div class="container">
    <div>
      <img src="../../img/ImageHandler_index_banner.jpg">
    </div>
    <div class="bg-radius">
      <div class="top">
        <div class="top-title">
          <div class="insure-notice-box">
            <div class="insure-check"><img src="../../img//mail.png" alt=""></div>
            <div class="insure-check-title">保費試算
            </div>
          </div>
        </div>
      </div>
      <div class="border-bottom-line"></div>
      <div class="top-tips">
        若您為新光人壽之保戶，請先登入以利享有更多保額優惠喔！
      </div>
      <div class="form-bottom">
        <div class="form-group row">
          <label for="" class="col-sm-12 col-form-label insure-label">您的生日是?</label>
          <div class="col-sm-4 insure-select-align">
            <select class="form-control data-input insure-select insure-input-block-edit" id="inputyear" name="inputyear">
              <option value="1999">1999</option>
              <option value="1998">1998</option>
              <option value="1997">1997</option>
              <option value="1996">1996</option>
              <option value="1995">1995</option>
              <option value="1994">1994</option>
              <option value="1993">1993</option>
              <option value="1992">1992</option>
              <option value="1991">1991</option>
              <option value="1990">1990</option>
              <option value="1989">1989</option>
              <option value="1988">1988</option>
              <option value="1987">1987</option>
              <option value="1986">1986</option>
              <option value="1985">1985</option>
              <option value="1984">1984</option>
              <option value="1983">1983</option>
              <option value="1982">1982</option>
              <option value="1981">1981</option>
              <option value="1980">1980</option>
              <option value="1979">1979</option>
              <option value="1978">1978</option>
              <option value="1977">1977</option>
              <option value="1976">1976</option>
              <option value="1975">1975</option>
              <option value="1974">1974</option>
              <option value="1973">1973</option>
              <option value="1972">1972</option>
              <option value="1971">1971</option>
              <option value="1970">1970</option>
              <option value="1969">1969</option>
              <option value="1968">1968</option>
              <option value="1967">1967</option>
              <option value="1966">1966</option>
              <option value="1965">1965</option>
              <option value="1964">1964</option>
            </select>年
          </div>
          <div class="col-sm-4 insure-select-align">
            <select id="inputMonth" name="inputMonth" class="form-control data-input insure-select insure-input-block-edit">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
            </select>月
          </div>
          <div class="col-sm-4 insure-select-align">
            <select id="inputDay" name="inputDay" class="form-control data-input insure-select insure-input-block-edit" required></select>日
          </div>
        </div>
        <div class="form-group row">
          <label for="" class="col-sm-12 col-form-label insure-label">您的工作屬於哪個類別?</label>
          <div class="top col-sm-12">
            <div class="insure-notice-box radio-group">
              <input id="input3" name="inputIndustry" type="radio" value="2" class="radio-circle" checked>
              <div class="insure-check radio-item NoCheck"></div>
              <div class="insure-check-content">
                <label for="input3" class="radio-label" data-val="2" data-group="inputIndustry">外勤業務相關</label>
              </div>
            </div>
          </div>
          <div class="border-bottom-line col-sm-12"></div>
          <div class="top col-sm-12">
            <div class="insure-notice-box radio-group">
              <input id="input4" name="inputIndustry" type="radio" value="1" class="radio-circle">
              <div class="insure-check radio-item NoCheck"></div>
              <div class="insure-check-content">
                <label for="input4" class="radio-label" data-val="1" data-group="inputIndustry">內勤行政文書相關</label>
              </div>
            </div>
          </div>
          <div class="border-bottom-line col-sm-12"></div>
          <div class="top col-sm-12">
            <div class="insure-notice-box radio-group">
              <input id="input5" name="inputIndustry" type="radio" value="3" class="radio-circle">
              <div class="insure-check radio-item NoCheck"></div>
              <div class="insure-check-content">
                <label for="input5" class="radio-label" data-val="3" data-group="inputIndustry">養殖、石化及放牧相關</label>
              </div>
            </div>
          </div>
          <div class="border-bottom-line col-sm-12"></div>
          <div class="top col-sm-12">
            <div class="insure-notice-box radio-group">
              <input id="input6" name="inputIndustry" type="radio" value="4" class="radio-circle">
              <div class="insure-check radio-item NoCheck"></div>
              <div class="insure-check-content">
                <label for="input6" class="radio-label" data-val="4" data-group="inputIndustry">司機、採石及水電修理相關</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="" class="col-sm-12 col-form-label insure-label">您希望擁有幾天的保障?</label>
        <div class="col-sm-12 insure-select-align">
          <input class="form-control data-input" id="InsuranceDay" name="InsuranceDay" pattern="[0-9]*" placeholder="請輸入保障天數，國內最高30天" type="tel" value="">
        </div>
      </div>
      <div class="form-group row">
        <label for="" class="col-sm-12 col-form-label insure-label">您希望擁有多少保障?</label>
        <div class="col-sm-12">
          <select class="form-control data-input insure-select insure-input-block-edit" id="insurePay" name="insurePay">
            <option value="">請選擇</option>
          </select>
        </div>
      </div>
      <div class="border-bottom-line"></div>
      <div class="insure-text text-red-i">
        <ul class="text-red-i insure-text-explancontent">
          <li>※本商品一律附加實支實付型傷害醫療保險限額2萬。</li>
          <li>※網路投保個人傷害醫療實支實付型保單（含主、附約），累計本公司及同業以投保1單為限。</li>
          <li>※本商品附加實支實付型傷害醫療保險投保金額會列入網路投保傷害保險累積限額計算。</li>
        </ul>
      </div>
      <div class="border-bottom-line"></div>
      <div class="bg-money gray">
        <div class="col-sm-12">
          <div class="font-label">您所需支付的保費為</div>
          <div id="PayNum" class="font-money"> NT$ 0</div>
          <div class="money-icon"><img src="../../img/coins.png" alt=""></div>
        </div>
      </div>
      <div class="border-bottom-line"></div>
      <div class="text-description text-red-i">
        <img src="../../img/megaphone.png" alt="">
        買就送RIMOWA及GOPRO出租8折優惠
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="footer-content">
      <nav class="navbar navbar-dark row">
        <div class="col-sm-6 footer-title footer-left" onclick="OnGoBack()">回前一頁</div>
        <div class="col-sm-6 footer-title footer-right" onclick="OnGoInsure()">立即投保</div>
      </nav>
    </div>
  </div>
  <script src="../../js/bootstrap.bundle.min.js"></script>
  <script src="../../js/bootstrap.min.js"></script>
  <script src="../../js/2019NewInsureJS.js"></script>
  <script src="../../js/estimation.js"></script>

  <script>
  function OnGoBack() {
    window.location.href = 'https://onlinetest.skl.com.tw/insurancewebapi/static/Estimate/ican/SimpleEstimate.html?leave=true'
  }

  function OnGoInsure() {
    // 判斷當前url中是否有token
    let token = getQueryStringParameterByKey('token')
    if (token === null) {
      OnGoBack()
      return
    }
    window.location.href = 'https://onlinetest.skl.com.tw/InsuranceWebApi/#/icanelecform?token=' + token
  }

  function faceamtList() {
    var Pdata = {
      "PLAN_Code_1": "20530",
      "Verified": "Y"
    };
    $.ajax({
      url: 'https://onlinetest.skl.com.tw/InsuranceWebApi//Query/Premiums',
      type: 'POST',
      data: Pdata,
      success: function(rep) {
        if (rep.Status == "OK" && rep.Data.IsSuccess && rep.Data != undefined && rep.Data.Result != undefined && rep.Data.Result.length > 0) {
          var premList = rep.Data.Result[0].Prem_List.split(',');
          var option = "";
          for (var i = 0; i < premList.length; i++) {
            option += "<option value='" + premList[i] + "'>" + premList[i] + "萬</option>";
          }
          $("#insurePay").empty();
          $("#insurePay").html(option);
          Compute();
        }
        else if (rep.Status == "OK" && !rep.Data.IsSuccess) {
          alert(rep.Data.Message);
          return;
        }
        else {
          alert("親愛的客戶，感謝您對網路投保的支持，由於目前系統更新，請您稍候再試。造成不便我們深感抱歉，再次感謝您的惠顧。");
        }
      }
    });
  }
  //試算
  function Compute() {
    var BYear = $('#inputyear').val();
    var BMonth = $('#inputMonth').val();
    var BDay = $('#inputDay').val();
    var InsuranceDay = $("#InsuranceDay").val();
    var faceamt = $("#insurePay").val();
    var occupation = $("input[name='inputIndustry']:checked").val();

    if (BYear == '' || BMonth == '' || BDay == '' || faceamt == '' || occupation == '' || InsuranceDay == '' || !checkDay())
      return;

    var Edata = {
      "InsurerSourceID": "InsuranceWeb",
      "CoreData": {
        "client_birth": BYear + "-" + BMonth + "-" + BDay,
        "client_occupation_class": occupation,
        "TrvDays": InsuranceDay,
        "face_amt": faceamt
      }
    };

    $.ajax({
      url: 'https://onlinetest.skl.com.tw/InsuranceWebApi//ICan/SimpleEstimate',
      type: 'POST',
      data: Edata,
      success: function(rep) {
        if (rep.Status == "OK" && rep.Data.IsSuccess && rep.Data != undefined && rep.Data.Result != undefined) {
          $("#PayNum").html("NT$" + rep.Data.Result.mode_prem.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        }
        else if (rep.Status == "OK" && !rep.Data.IsSuccess) {
          alert(rep.Data.Message);
          return;
        }
        else {
          alert("親愛的客戶，感謝您對網路投保的支持，由於目前系統更新，請您稍候再試。造成不便我們深感抱歉，再次感謝您的惠顧。");
        }
      }
    });
  }

  function checkDay() {
    if ($("#InsuranceDay").val() > 0 && $("#InsuranceDay").val() <= 30) {
      return true;
    }
    else {
      alert("請輸入符合條件之天數");
      $("#InsuranceDay").val("");
      return false;
    }
  }

  $(document).ready(function() {
    faceamtList();
    $("#InsuranceDay").on("change", function() {
      if (checkDay()) {
        Compute();
      }
    });

    //保單年度未
    $('#insurePay, input[name="inputIndustry"],#inputyear, #inputMonth, #inputDay').on('change', function() {
      Compute();
    });

  });

  </script>
</body>

</html>
